.loginFormContainer {
  display: flex;
  justify-content: center;
}

.loginFormContainer__form {
  width: 300px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginForm__registrationLink {
  text-align: center;
}
