<mat-form-field>
    <mat-chip-listbox>
        <mat-chip-option *ngFor="let addedItem of addedItems; trackBy: trackItem" (removed)="removeItem(addedItem)">
            {{ addedItem.name }}
          <button type="button" matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-option>
    </mat-chip-listbox>
    <input type="text" matInput
        placeholder="Select..."
        [formControl]="itemNameControl"
        [matAutocomplete]="auto"
        [disabled]="isDisabled"/>
        
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleItemSelected($event)">
        <ng-container *ngIf="isItemsLoaded$ | async; else itemsLoadingOption">
            <mat-option *ngFor="let itemOption of totalItems$ | async; trackBy: trackItem" [value]="itemOption.id">
                {{ itemOption.name }}
            </mat-option>
        </ng-container>
        <ng-template #itemsLoadingOption>
            <mat-option disabled="true">Loading...</mat-option>
        </ng-template>
    </mat-autocomplete>  
</mat-form-field>
<button mat-icon-button 
    type="button" 
    (click)="handleItemAdding()" 
    [disabled]="(isItemsLoaded$ | async) === false || isForbiddenToCreateItem(totalItems$ | async)">
    <mat-icon>add_circle_outline</mat-icon>
</button>  