<mat-form-field>
    <mat-chip-listbox>
        <mat-chip-option *ngFor="let addedItem of addedItems; trackBy: trackItem" (removed)="removeItem(addedItem)">
            {{ addedItem.name }}
          <button type="button" matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-option>
    </mat-chip-listbox>
    <input type="text" matInput
        placeholder="Select..."
        [formControl]="itemNameControl"
        [matAutocomplete]="auto"
        [disabled]="isDisabled"/>
        
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleItemSelected($event)">
        <ng-container *ngIf="totalItems$ | async as totalItems; else itemsLoadingOption">
            <div class="autocomplete-option-container" *ngIf="parameters$ | async as parameters"
                infiniteScroll 
                [infiniteScrollDistance]="1"
                [scrollWindow]="false"
                [infiniteScrollThrottle]="50" 
                (scrolled)="scroll(parameters, totalItems.totalCount)">    
                <mat-option *ngFor="let itemOption of totalItems.results; trackBy: trackItem" [value]="itemOption.id">
                    {{ itemOption.name }}
                </mat-option>
            </div>
        </ng-container>
        <ng-template #itemsLoadingOption>
            <mat-option disabled="true">Loading...</mat-option>
        </ng-template>
    </mat-autocomplete>  
</mat-form-field>
<button mat-icon-button 
    type="button" 
    (click)="handleItemAdding()" 
    [disabled]="(isItemsLoading$ | async) || isForbiddenToCreateItem((totalItems$ | async)?.results ?? [])">
    <mat-icon>add_circle_outline</mat-icon>
</button>  