.anime-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.anime-form-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.anime-form-section__field {
  flex-basis: 300px;
  flex-grow: 1;
}
