@import "./styles/typographies.css";
@import "./styles/colors.css";
@import "./styles/book-filters.css";
@import "./styles/book-groups.css";

:root {
  --mobile-book-filters-height: 248px;
  --tablet-book-filters-height: 120px;
}

html,
body {
  height: 100%;
}

.main-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 24px;
}

.main-container__header {
  height: 64px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.main-container__footer {
  height: 128px;
  border-top: 1px solid var(--border-color);
  padding: 24px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
}

.app-info-container {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.github-link {
  color: var(--on-surface-color);
}

.footer-content__top-link {
  flex-grow: 1;
  text-align: right;
  color: var(--on-surface-color);
  text-decoration: none;
}

.main-container__content {
  flex: 1 0 auto;
}

.content-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
}

.content-container__books-container {
  max-width: 900px;
}

.content-container__book-filters {
  width: 320px;
  align-self: flex-start;
  background: var(--surface-color);
  outline: 1px solid var(--on-primary-color);
  position: sticky;
  top: 0;
}

.content-container__book-group-title {
  background-color: var(--surface-color);
  outline: 1px solid var(--on-primary-color);
  position: sticky;
  top: 0;
}

@media (width > 786px) {
  .main-container {
    margin: 0 auto;
  }
}

@media (width < 1920px) {
  .content-container__book-filters {
    width: 276px;
  }
}

@media (width < 1280px) {
  .content-container {
    flex-direction: column;
  }

  .content-container__book-filters {
    width: 100%;
    border-bottom: 1px solid var(--border-color);

    /* To filters sticky block be above sticky book group title */
    z-index: 1;
    height: var(--tablet-book-filters-height);
  }

  .content-container__book-group-title {
    /* To filters sticky block be above sticky book group title */
    z-index: 0;
    top: var(--tablet-book-filters-height);
  }
}

@media (width < 786px) {
  .content-container__book-filters {
    height: var(--mobile-book-filters-height);
  }

  .content-container__book-group-title {
    top: var(--mobile-book-filters-height);
  }
}

@media (width <= 360px) {
  .app-info-container {
    width: 100%;
  }

  .footer-container {
    height: 180px;
  }
}