:host {
  display: flex;
  flex-direction: column;
  gap: var(--space);
  padding: 0 5%;
}

.anime-card {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
}

.anime-card__image {
  flex: 1 0 30%;
  aspect-ratio: 5/6;
  min-width: 300px;
  border: var(--border);
  border-radius: var(--border-radius);
  object-fit: cover;
  object-position: top;
}

.anime-card__info {
  flex: 1 0 50%;
}

.anime-card-info {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

.anime-card-info__items {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 1;
}

.anime-card-info__description {
  border: var(--border);
  border-radius: var(--border-radius);
  text-align: justify;
  margin: 0;
  padding: 10px;
  flex: 1;
}

.anime-trailer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space);
}

.anime-trailer__player {
  width: 100%;
}
