:host {
  display: flex;
  justify-content: center;
}

.anime-details {
  width: 50%;
}

.anime-card {
  display: flex;
}

.anime-card__image {
  max-width: var(--anime-image-size);
  max-height: var(--anime-image-size);
}

.anime-card__info {
  width: 100%;
}

.anime-info-item {
  display: flex;
  justify-content: space-between;
}

.anime-info-item__title {
  font-weight: bold;
}

.anime-info-item__separator {
  flex: 1 0;
  border-bottom: 1px dotted #000;
  height: 1em;
  margin: 0 0.4em;
}

.anime-info-item__data_list {
  overflow-wrap: break-word;
  text-align: right;
}

.anime-details__description {
  text-align: justify;
  margin-top: 20px;
}

.anime-details__trailer {
  margin-top: 30px;
}

.anime-trailer {
  display: flex;
  justify-content: center;
}

.anime-trailer__player {
  width: 75%;
  height: 300px;
}

@media (width < 800px) {
  .anime-details {
    width: 75%;
  }

  .anime-card {
    flex-direction: column;
  }

  .anime-card__image {
    max-width: 100%;
  }

  .anime-trailer__player {
    width: 100%;
    height: 200px;
  }
}
