<main class="anime-details" *ngIf="animeDetails$ | async as animeDetails">
	<h1 class="anime-details-title">{{animeDetails.englishTitle ? animeDetails.englishTitle : animeDetails.japaneseTitle}}</h1>
	<section class="anime-card">
		<img
			class="anime-card__image"
			[src]="animeDetails.imageUrl"
			alt="Open dialog with full size anime cover"
			(click)="openFullSizeImage(animeDetails.imageUrl)"
		/>
		<div class="anime-card__info">
			<h2 class="anime-details-title">About anime</h2>
			<div class="anime-info-item">
				<span class="anime-info-item__title">English title:</span>
				<span class="anime-info-item__separator"></span>
				<span>{{ animeDetails.englishTitle | titlecase | empty }}</span>
			</div>
			<div class="anime-info-item">
				<span class="anime-info-item__title">Japanese title:</span>
				<span class="anime-info-item__separator"></span>
				<span>{{ animeDetails.japaneseTitle | titlecase | empty }}</span>
			</div>
			<div class="anime-info-item">
				<span class="anime-info-item__title">Aired start date:</span>
				<span class="anime-info-item__separator"></span>
				<span>{{ animeDetails.airedStartDate | date }}</span>
			</div>
			<div class="anime-info-item">
				<span class="anime-info-item__title">Type:</span>
				<span class="anime-info-item__separator"></span>
				<span>{{ animeDetails.type | titlecase }}</span>
			</div>
			<div class="anime-info-item">
				<span class="anime-info-item__title">Status:</span>
				<span class="anime-info-item__separator"></span>
				<span>{{ animeDetails.status | titlecase }}</span>
			</div>
			<div class="anime-info-item">
				<span class="anime-info-item__title">Age rating:</span>
				<span class="anime-info-item__separator"></span>
				<span>{{ animeDetails.ageRating }}</span>
			</div>
			<div class="anime-info-item">
				<span class="anime-info-item__title">Source:</span>
				<span class="anime-info-item__separator"></span>
				<span>{{ animeDetails.source }}</span>
			</div>
			<div class="anime-info-item">
				<span class="anime-info-item__title">Season:</span>
				<span class="anime-info-item__separator"></span>
				<span>{{ animeDetails.season }}</span>
			</div>
			<div class="anime-info-item">
				<span class="anime-info-item__title">Airing status:</span>
				<span class="anime-info-item__separator"></span>
				<span>{{ animeDetails.airingStatus ? "Yes" : "No" }}</span>
			</div>
			<div class="anime-info-item">
				<span class="anime-info-item__title">Studios:</span>
				<span class="anime-info-item__separator"></span>
				<span class="anime-info-item__data_list">{{ animeDetails.studioNames.join(", ") | empty }}</span>
			</div>
			<div class="anime-info-item">
				<span class="anime-info-item__title">Genres:</span>
				<span class="anime-info-item__separator"></span>
				<span class="anime-info-item__data_list">{{ animeDetails.genreNames.join(", ") | empty }}</span>
			</div>
		</div>
	</section>
	<section class="anime-details__description" *ngIf="animeDetails.description !== ''" >
		<h2 class="anime-details-title">Description</h2>
		<div>{{ animeDetails.description }}</div>
	</section>
	<section class="anime-trailer anime-details__trailer" *ngIf="animeDetails.youtubeTrailerId !== null">
		<h2 class="anime-details-title">Youtube trailer</h2>
		<iframe
			title="Youtube trailer"
			class="anime-trailer__player"
			[src]="makeYoutubeTrailerUrl(animeDetails.youtubeTrailerId)"
		></iframe>
	</section>
</main>
