<main class="anime-details" *ngIf="animeDetails$ | async as animeDetails">
	<h1 class="anime-details-title">{{animeDetails.englishTitle ? animeDetails.englishTitle : animeDetails.japaneseTitle}}</h1>
	<section class="anime-card">
		<img
			class="anime-card__image"
			[src]="animeDetails.imageUrl"
			alt="Open dialog with full size anime cover"
			(click)="openFullSizeImage(animeDetails.imageUrl)"
		/>
		<div class="anime-card__info">
			<h2 class="anime-details-title">About anime</h2>
			<camp-anime-info-item title="English title" [value]="animeDetails.englishTitle | titlecase | empty" />
			<camp-anime-info-item title="Japanese title" [value]="animeDetails.japaneseTitle | titlecase | empty" />
			<camp-anime-info-item title="Aired start date" [value]="animeDetails.airedStartDate | date | empty" />
			<camp-anime-info-item title="Type" [value]="animeDetails.type | titlecase" />
			<camp-anime-info-item title="Status" [value]="animeDetails.status | titlecase" />
			<camp-anime-info-item title="Age rating" [value]="animeDetails.ageRating" />
			<camp-anime-info-item title="Source" [value]="animeDetails.source" />
			<camp-anime-info-item title="Season" [value]="animeDetails.season" />
			<camp-anime-info-item title="Airing status" [value]="animeDetails.airingStatus ? 'Yes' : 'No'" />
			<camp-anime-info-item title="Studios" [value]="animeDetails.studioNames.join(', ') | empty" />
			<camp-anime-info-item title="Genres" [value]="animeDetails.genreNames.join(', ') | empty" />
		</div>
	</section>
	<section class="anime-details__description" *ngIf="animeDetails.description !== ''" >
		<h2 class="anime-details-title">Description</h2>
		<div>{{ animeDetails.description }}</div>
	</section>
	<section class="anime-trailer anime-details__trailer" *ngIf="animeDetails.youtubeTrailerId !== null">
		<h2 class="anime-details-title">Youtube trailer</h2>
		<iframe
			title="Youtube trailer"
			class="anime-trailer__player"
			[src]="makeYoutubeTrailerUrl(animeDetails.youtubeTrailerId)"
		></iframe>
	</section>
</main>
