:host {
  display: flex;
  justify-content: center;
}

.anime-details {
  width: 80%;
}

.anime-details__title {
  margin-bottom: 30px;
}

.anime-card {
  display: flex;
  gap: var(--space);
}

.anime-card__image-container {
  flex-basis: 50%;
  position: relative;
  padding-bottom: 50%;
}

.anime-card__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: var(--border);
  border-radius: var(--border-radius);
  object-fit: cover;
  object-position: top;
}

.anime-card__image-full-size-btn {
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.anime-card__magnifying-glass {
  font-size: 30px;
}

.anime-card__info {
  flex-basis: 50%;
}

.anime-card-info {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

.anime-card-info__items {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 1;
}

.anime-card-info__description {
  border: var(--border);
  border-radius: var(--border-radius);
  text-align: justify;
  margin: 0;
  padding: 10px;
  flex: 1;
}

.anime-details__trailer {
  margin-top: 30px;
}

.anime-trailer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space);
}

.anime-trailer__player {
  width: 75%;
}

@media (width < 786px) {
  .anime-card {
    flex-direction: column;
  }

  .anime-card__image-container {
    padding-bottom: 100%;
  }

  .anime-trailer__player {
    width: 100%;
  }
}