@import "./colors.css";

.book-group-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.book-card {
  width: min-content;
}

.book-card__book-cover {
  border-radius: 24px;
  height: 251px;
  width: 167px;
  outline: 1px solid var(--border-color);
  outline-offset: -1px;
}

.book-card__book-name {
  text-align: left;
  overflow-wrap: break-word;
}

@media (width <= 786px) {
  .book-card__book-cover {
    width: 173px;
  }
}

@media (width <= 360px) {
  .book-card__book-cover {
    width: 148px;
  }
}