.registrationFormContainer {
  display: flex;
  justify-content: center;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.registrationForm__loginLink {
  text-align: center;
}
