@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #F15924;
    --on-primary-color: #FFFFFF;
    --border-color: #D0D0D0;
    --surface-color: #FFFFFF;
    --surface-overlay-color: #E8E8E8;
    --on-surface-color: #000000;
    --on-surface-dim-color: #7A7A7A;

    --common-font-family: "Inter"
}

.subtitle-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--common-font-family);
}

.body-text {
    font-size: 20px;
    line-height: 32px;
    font-family: var(--common-font-family);
}

.body-small-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: var(--common-font-family);
}

.logo-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-family: var(--common-font-family);
}

.body-container {
    display: flex;
    justify-content: center;
}

.main-container {
    width: fit-content;
}

.main-container__header {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 24px;
}

.content-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}



.book-group {}

.book-group__title {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: white;
    outline: 1px solid var(--on-primary-color);
    padding: 10px 0;
}

.book-group__container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.book-card {
    width: min-content;
}

.book-card__book-cover {
    border-radius: 24px;
    height: 250.8px;
    width: 167.2px;
    border: 1px solid black;
}

.book-card__book-name {
    text-align: left;
    overflow-wrap: break-word;
}

.content-container__book-filters {
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background: white;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 24px;
    outline: 1px solid var(--on-primary-color);
}

.book-filters-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.book-filters-form__search-field {
    width: 320px;
}

.search-field {
    height: 48px;
    border-radius: 16px;
    padding: 8px 16px 8px 56px;
    box-sizing: border-box;
    border: none;
    background-color: var(--surface-overlay-color);
    background-image: url('./icons/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 16px center;
}

.book-filters-form__sorting-field {
    width: 320px;
}

.select-field {
    height: 48px;
    border-radius: 16px;
    padding: 0px 16px 0px 16px;
    border: none;
    background-color: var(--surface-overlay-color);
    color: gray;
    background-image: url('./icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right;
    background-origin: content-box;
    appearance: none;
}

.book_filter-form__comics-show-filter {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-field {
    width: 20px;
    height: 20px;
    border: 2px solid var(--border-color);
    border-radius: 4px;
}

.book-filters__border {
    display: none;
}

.footer-container {
    height: 128px;
}

.footer-content {
    padding: 24px 0px 24px 0px;
    display: flex;
    flex-wrap: wrap;
}

.app-info-container {
    width: 50%;
    max-width: 315px;
    display: flex;
    justify-content: space-between;
}

.github-link {
    color: var(--on-surface-color);
}

.footer-content__top-link {
    flex-grow: 1;
    text-align: right;
}

.top-link {
    color: var(--on-surface-color);
    text-decoration: none;
}



@media screen and (min-width: 787px) and (max-width: 1280px) {
    .book-filters-form__search-field {
        width: 276px;
    }

    .book-filters-form__sorting-field {
        width: 276px;
    }
}


@media screen and (min-width: 361px) and (max-width: 786px) {
    .book-card__book-cover {
        width: 172.5px;
    }

    .book-filters-form__search-field {
        width: 287.5px;
    }

    .book-filters-form__sorting-field {
        width: 287.5px;
    }

    .book-filters-form {
        flex-direction: row;
    }

    .content-container {
        flex-direction: column;
    }

    .book-filters__border {
        display: block;
    }

    .content-container__book-filters {
        z-index: 1;
        width: 100%;
    }

    .book-group__title {
        top: 125px;
        z-index: 0;
    }
}

@media screen and (max-width: 360px) {
    .book-card__book-cover {
        width: 148px;
    }

    .book-filters-form__search-field {
        width: 312px;
    }

    .book-filters-form__sorting-field {
        width: 312px;
    }

    .content-container {
        flex-direction: column;
    }

    .book-filters__border {
        display: block;
    }

    .content-container__book-filters {
        z-index: 1;
        width: 100%;
    }

    .book-group__title {
        top: 228px;
        z-index: 0;
    }

    .app-info-container {
        width: 100%;
        max-width: none;
    }
}