.book-group {}

.book-group__group-title {
    font-size: 18px;
    font-family: "Inter";
    text-transform: uppercase;
    line-height: 24px;
    font-weight: bold;
}

.book-group__books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.book-card {
    width: min-content;
}

.book-card__book-cover {
    border-radius: 10%;
    height: 250.8px;
    width: 167.2px;
}

.book-card__book-name {
    font-size: 18px;
    font-family: "Inter";
    line-height: 24px;
    font-weight: bold;
    text-align: left;
    overflow-wrap: break-word;
}

@media screen and (max-width: 786px) {
    .book-card__book-cover {
        width: 172.5px;
    }
}

@media screen and (max-width: 360px) {
    .book-card__book-cover {
        width: 148px;
    }
}