@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./styles/typographies.css";
@import "./styles/colors.css";

html,
body {
    height: 100%;
}

.main-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 24px;
}

.main-container__header {
    flex: 0 0 auto;
}

.header-container {
    height: 64px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}

.main-container__footer {
    flex: 0 0 auto;
}

.footer-container {
    height: 128px;
    border-top: 1px solid var(--border-color);
    padding: 24px 0px 24px 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.app-info-container {
    width: 281px;
    display: flex;
    justify-content: space-between;
}

.github-link {
    color: var(--on-surface-color);
}

.footer-content__top-link {
    flex-grow: 1;
    text-align: right;
}

.top-link {
    color: var(--on-surface-color);
    text-decoration: none;
}

.main-container__content {
    flex: 1 0 auto;
}

.content-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.book-group {}

.book-group__title {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: white;
    outline: 1px solid var(--on-primary-color);
    padding: 10px 0;
}

.book-group__container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.book-card {
    width: min-content;
}

.book-card__book-cover {
    border-radius: 24px;
    height: 250.8px;
    width: 167.2px;
    border: 1px solid var(--border-color);
}

.book-card__book-name {
    text-align: left;
    overflow-wrap: break-word;
}

.content-container__book-filters {
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background: white;
    outline: 1px solid var(--on-primary-color);
    padding: 10px 0;
}

.book-filters-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.book-filters-form__search-field {
    width: 320px;
}

.search-field {
    height: 48px;
    border-radius: 16px;
    padding: 8px 16px 8px 56px;
    box-sizing: border-box;
    border: none;
    background-color: var(--surface-overlay-color);
    background-image: url('./icons/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 16px center;
}

.book-filters-form__sorting-field {
    width: 320px;
}

.select-field {
    height: 48px;
    border-radius: 16px;
    padding: 0px 16px 0px 16px;
    border: none;
    background-color: var(--surface-overlay-color);
    color: gray;
    background-image: url('./icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right;
    background-origin: content-box;
    appearance: none;
}

.book_filter-form__comics-show-filter {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-field {
    width: 20px;
    height: 20px;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    position: relative;
    appearance: none;
}

.checkbox-field:checked {
    border: 2px solid var(--primary-color);
}

.checkbox-field::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.checkbox-field:checked::after {
    display: block;
}

.book-filters__border {
    display: none;
}

@media screen and (min-width: 1280px) {
    .main-container {
        margin: 0 auto;
    }
}

@media screen and (min-width: 787px) and (max-width: 1280px) {
    .book-filters-form__search-field {
        width: 276px;
    }

    .book-filters-form__sorting-field {
        width: 276px;
    }
}


@media screen and (min-width: 361px) and (max-width: 786px) {
    .book-card__book-cover {
        width: 172.5px;
    }

    .book-filters-form__search-field {
        width: 287.5px;
    }

    .book-filters-form__sorting-field {
        width: 287.5px;
    }

    .book-filters-form {
        flex-direction: row;
    }

    .content-container {
        flex-direction: column;
    }

    .book-filters__border {
        display: block;
    }

    .content-container__book-filters {
        z-index: 1;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
    }

    .book-group__title {
        top: 125px;
        z-index: 0;
    }
}

@media screen and (max-width: 360px) {
    .book-card__book-cover {
        width: 148px;
    }

    .book-filters-form__search-field {
        width: 312px;
    }

    .book-filters-form__sorting-field {
        width: 312px;
    }

    .content-container {
        flex-direction: column;
    }

    .book-filters__border {
        display: block;
    }

    .content-container__book-filters {
        z-index: 1;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
    }

    .book-group__title {
        top: 224px;
        z-index: 0;
    }

    .app-info-container {
        width: 100%;
    }

    .footer-container {
        height: 180px;
    }
}