@import "./styles/typographies.css";
@import "./styles/colors.css";
@import "./styles/book-filters.css";
@import "./styles/book-groups.css";

html,
body {
    height: 100%;
}

.main-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 24px;
    max-width: 1255px;
}

.main-container__header {
    flex: 0 0 auto;
}

.header-container {
    height: 64px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}

.main-container__footer {
    flex: 0 0 auto;
}

.footer-container {
    height: 128px;
    border-top: 1px solid var(--border-color);
    padding: 24px 0px 24px 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.app-info-container {
    width: 281px;
    display: flex;
    justify-content: space-between;
}

.github-link {
    color: var(--on-surface-color);
}

.footer-content__top-link {
    flex-grow: 1;
    text-align: right;
}

.top-link {
    color: var(--on-surface-color);
    text-decoration: none;
}

.main-container__content {
    flex: 1 0 auto;
}

.content-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
}

.content-container__book-filters {
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background: var(--surface-color);
    outline: 1px solid var(--on-primary-color);
}

@media screen and (min-width: 1280px) {
    .main-container {
        margin: 0 auto;
    }
}

@media screen and (max-width: 786px) {
    .content-container__book-filters {
        /* To filters sticky block be above sticky book group title*/
        z-index: 1;
        width: 100%;
    }
}

@media screen and (min-width: 361px) and (max-width: 786px) {
    .content-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 360px) {
    .content-container {
        flex-direction: column;
    }

    .app-info-container {
        width: 100%;
    }

    .footer-container {
        height: 180px;
    }
}