.subtitle-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Inter";
}

.body-text {
    font-size: 20px;
    line-height: 32px;
    font-family: "Inter";
}

.body-small-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Inter";
}

.logo-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Inter";
}

.book-group {}

.book-group__books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.book-card {
    width: min-content;
}

.book-card__book-cover {
    border-radius: 24px;
    height: 250.8px;
    width: 167.2px;
    border: 1px solid black;
}

.book-card__book-name {
    text-align: left;
    overflow-wrap: break-word;
}

.book-filters {
    float: right;
}

.book-filters-form {
    display: flex;
    flex-direction: column;
    width: min-content;
    gap: 8px;
}

.search-field {
    height: 48px;
    border-radius: 16px;
    padding: 8px 16px 8px 56px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(240, 243, 240);
    background-image: url('./icons/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 16px center;
}

.select-field {
    height: 48px;
    border-radius: 16px;
    padding: 0px 16px 0px 16px;
    border: none;
    background-color: rgb(240, 243, 240);
    color: gray;
    background-image: url('./icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right;
    background-origin: content-box;
    appearance: none;
}

.book-filters-form__search-field {
    width: 320px;
}

.book-filters-form__sorting-field {
    width: 320px;
}

.book_filter-form__comics-show-filter {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-field {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 4px;
}

@media screen and (min-width: 787px) and (max-width: 1280px) {
    .book-filters-form__search-field {
        width: 276px;
    }

    .book-filters-form__sorting-field {
        width: 276px;
    }
}


@media screen and (min-width: 361px) and (max-width: 786px) {
    .book-card__book-cover {
        width: 172.5px;
    }

    .book-filters-form__search-field {
        width: 287.5px;
    }

    .book-filters-form__sorting-field {
        width: 287.5px;
    }

    .book-filters {
        float: none;
    }

    .book-filters-form {
        flex-direction: row;
        width: max-content;
    }
}

@media screen and (max-width: 360px) {
    .book-card__book-cover {
        width: 148px;
    }

    .book-filters-form__search-field {
        width: 312px;
    }

    .book-filters-form__sorting-field {
        width: 312px;
    }

    .book-filters {
        float: none;
    }
}