.login {
  display: flex;
  justify-content: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.login__form-error {
  text-align: justify;
}

.login__registration-link {
  text-align: center;
}
