.anime-dashboard-title {
  text-align: center;
}

.anime-table-container {
  overflow-x: scroll;
}

.anime-table-header {
  text-align: center;
}

.anime-table-cell {
  text-align: center;
}

.anime-table-cell__image {
  max-width: 150px;
  max-height: 150px;
}