.anime-filters {
  padding-top: 20px;
  display: flex;
  gap: 10px;
}

.anime-table-container {
  overflow-x: scroll;
}

.anime-table__caption {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}

.anime-table__header {
  text-align: center;
}

.anime-table__cell {
  text-align: center;
}

.anime-table__cell-image {
  max-width: var(--anime-image-size);
  max-height: var(--anime-image-size);
}

.anime-pagination {
  display: flex;
  justify-content: center;
}

@media (width <= 360px) {
  .anime-filters {
    flex-direction: column;
  }
}
