<div>
  <form [formGroup]="animeFiltersFormGroup" class="anime-filters">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput [formControl]="animeFiltersFormGroup.controls.search">
    </mat-form-field>
    <mat-form-field>
			<mat-label>Anime type</mat-label>
			<mat-select [formControl]="animeFiltersFormGroup.controls.animeTypes" multiple>
				<mat-option *ngFor="let animeType of animeTypes;" [value]="animeType">{{animeType}}</mat-option>
			</mat-select>
		</mat-form-field>
  </form>
  <ng-container *ngIf="paginatedAnime$ | async as paginatedAnime">
    <main class="anime-table-container">
      <table
        class="anime-table" 
        mat-table
        matSort  
        [dataSource]="paginatedAnime.results" 
        (matSortChange)="handleSortingChange($event)"
        [matSortActive]="initialSortingParameters.sortingField ?? '' "
        [matSortDirection]="initialSortingParameters.sortingDirection ?? '' ">

        <caption class="anime-table__caption">Anime table</caption>
  
        <ng-container matColumnDef="imageUrl">
          <th mat-header-cell *matHeaderCellDef class="anime-table__header">Image</th>
          <td mat-cell *matCellDef="let animePreview">
            <img [src]="animePreview.imageUrl" class="anime-table__cell-image"
              alt="{{ animePreview.englishTitle }}" />
          </td>
        </ng-container>
  
        <ng-container matColumnDef="englishTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="englishTitle" class="anime-table__header">Title (English)</th>
          <td mat-cell *matCellDef="let animePreview" class="anime-table__cell">
            {{ (animePreview.englishTitle | titlecase) || 'No' }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="japaneseTitle">
          <th mat-header-cell *matHeaderCellDef class="anime-table__header">Title (Japanese)</th>
          <td mat-cell *matCellDef="let animePreview" class="anime-table__cell">
            {{ (animePreview.japaneseTitle | titlecase) || 'No' }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef class="anime-table__header">Type</th>
          <td mat-cell *matCellDef="let animePreview" class="anime-table__cell">
            {{ animePreview.type | titlecase }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="airedStartDate">
          <th mat-header-cell *matHeaderCellDef class="anime-table__header" mat-sort-header="airedStartDate">Aired Start date</th>
          <td mat-cell *matCellDef="let animePreview" class="anime-table__cell">
            {{ animePreview.airedStartDate | date }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="anime-table__header" mat-sort-header="status">Status</th>
          <td mat-cell *matCellDef="let animePreview" class="anime-table__cell">
            {{ animePreview.status | titlecase }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAnimeTableColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAnimeTableColumns;"></tr>
      </table>
    </main>
    <div class="anime-pagination">
      <ng-container *ngIf="animeParametersService.paginationParameters$ | async as paginatorSettings">
        <mat-paginator
          [length]="paginatedAnime.totalCount"
          [pageSize]="paginatorSettings.pageSize"
          [pageSizeOptions]="animeParametersService.availablePageSizes"
          (page)="handlePaginationParametersChange(($event))"
          [pageIndex]="paginatorSettings.pageNumber - 1">
        </mat-paginator>
      </ng-container>
    </div>
  </ng-container>

</div>