:root {
  --computer-font-size: 45px;
  --tablet-font-size: 30px;
  --mobile-font-size: 15px;
  --points-list-height-coefficient: 2;
}

.blackjack-container {
  max-width: 65%;
  margin: 0 auto;
}

.blackjack-title {
  text-align: center;
}

.points-container {
  width: 100%;
}

.gamer-points-container_winner {
  background-color: green;
}

.gamer-points-container_looser {
  background-color: red;
}

.points-container__points-list {
  /* To get rid of the effect of increasing the height of the block when adding the first element to an empty list */
  height: calc(var(--computer-font-size) * var(--points-list-height-coefficient));
  display: flex;
  gap: 10px;
  padding-left: 0;
  overflow-y: hidden;
}

.points-container__points-item {
  list-style-type: none;
  font-weight: 500;
}

.points-container__points-item {
  list-style-type: none;
  font-weight: 500;
}

.blackjack-actions-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.blackjack-actions-container__action {
  width: 50%;
}

.blackjack-actions-container__action--game-ended {
  display: none;
}

.blackjack-title,
.points-container__title,
.points-container__points-item,
.blackjack-actions-container__action {
  font-size: var(--computer-font-size);
}

@media (width < 786px) {
  .blackjack-container {
    max-width: 100%;
    margin: auto;
  }
}

@media (786px <= width <= 1280px) {
  .blackjack-title,
  .points-container__title,
  .points-container__points-item,
  .blackjack-actions-container__action {
    font-size: var(--tablet-font-size);
  }

  .points-container__points-list {
    height: calc(var(--tablet-font-size) * var(--points-list-height-coefficient));
  }
}

@media (width < 786px) {
  .blackjack-title,
  .points-container__title,
  .points-container__points-item,
  .blackjack-actions-container__action {
    font-size: var(--mobile-font-size);
  }

  .points-container__points-list {
    height: calc(var(--mobile-font-size) * var(--points-list-height-coefficient));
  }
}