:root {
    --primary-color: #F15924;
    --on-primary-color: #FFFFFF;
    --border-color: #D0D0D0;
    --surface-color: #FFFFFF;
    --surface-overlay-color: #E8E8E8;
    --on-surface-color: #000000;
    --on-surface-dim-color: #7A7A7A;
}